<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      renderActions: {
        find_script_mathtex: [10, function (doc) {
          for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
            const math = new doc.options.MathItem(
              node.textContent,
              doc.inputJax[0],
              node.type.indexOf('mode=display') >= 0
            );
            const text = document.createTextNode('');
            node.parentNode.insertBefore(text, node);
            math.start = {node: text, delim: '', n: 0};
            math.end = {node: text, delim: '', n: 0};
            doc.math.push(math);
            node.parentNode.removeChild(node);
          }
        }, '']
      }
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
